@charset "UTF-8";

/*
    Paleta de Cores:
    Verde: #49a09d
    Lilas: #5f2c82
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #3f3e49;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);

    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    display: block;
    background: #3f3e49 url(../imagens/madeira.jpg) no-repeat;
    background-size: cover;
    background-position: center right;
    height: 200px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;

}

div#formulario > h1{
    margin-bottom: 10px;
}

div#formulario > p{
    font-size: 0.8em;
}

form > div.campo{
    background-color: #3f3e49;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label{
    display: none;
}

div.campo > span{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input{
    background-color: #aca4bb;
    font-size: 1em;
    width: calc(100% - 50px);
    height: 80%;
    border: none;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-11px);
}

div.campo > input:focus-within{
    background-color: white;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    font-weight: bold;
    width: 100%;
    height: 40px;
    background-color: #616170;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: #8a809e;
    color: black;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: black;
    border: 1px solid #616170;
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover{
    background-color: #ababd3;
}

form > a.botao > span{
    font-size: 0.8em;
}